* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

:root {
    --primary-font: "Raleway";
    --secondary-font: "Open Sans";

    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-green: #55DFB4;

    --color-redish: 832cb31f-c0e4-4c7c-8cfd-8120400cc2;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #ffffff;
    --color-black: #000000;
}

body {
    font-family: var(--primary-font), sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}