* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

:root {
    --primary-font: "Raleway";
    --secondary-font: "Open Sans";

    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-black-trans-shadow: #00000029;

    --color-red: #FB3B64;
    --color-green: #55DFB4;

    --color-redish: 832cb31f-c0e4-4c7c-8cfd-8120400cc2;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #ffffff;
    --color-black: #000000;
    
    --icon-bg-width: 63px;
    --icon-person-width: 44px;
    --icon-views-width: 63.43px;
    --icon-post-width: 52px;
}

body {
    font-family: var(--primary-font), sans-serif;
    color: var(--color-black);
}

a {
    text-decoration: none;
    display: inline-block;
}

/* header */
.header {
    box-shadow: 0px 3px 6px var(--color-black-trans-shadow);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: var(--color-primary);
    font-size: 2em;
    line-height: 37px;
    font-weight: 300;

}

.header ul {
    display: flex;
    gap: 95px;
}

.header nav a {
    color: var(--color-grey);
    font-size: 0.6875em;
    line-height: 0.9375em;
    font-weight: bold;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    padding: 28px 12px;
    border: 4px solid var(--color-white);
    /* border-width: 4px;    */
    /* border-style: solid; */
    /* border-color: var(--color-white); */



    cursor: pointer;
}

.header nav a:hover, .header nav a:active {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}
/* e: header */

/* hero section */
.hero {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.hero__title {
    font-size: 3.0625em;
    line-height: 1.163265306122449em;
    margin-bottom: 0.40816326530612246em
}

.hero__text {
    font-size: 1em;
    line-height: 1.375em;
    margin-bottom: 2.375em
}

.hero img {
    width: 100%;
    font-size: 1em;
    line-height: 22px;
}
/* e: hero section */

/* stats section */
.stats {
    padding-top: 100px;
    padding-bottom: 121px;
}

.stats__title {
    font-size: 2.25em;
    line-height: 1.1666666666666667em;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 120px;
}

.stats__columns {
    display: flex;
    justify-content: center;
}

.stats__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats__column:nth-child(2) {
    margin-left: 12.8125em;
    margin-right: 14.6875em;
}

.stats__column-icon {
    width: var(--icon-bg-width);
    height: var(--icon-bg-width);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8125em;
}

.stats__column:nth-child(1) .stats__column-icon { background-color: var(--color-red);}
.stats__column:nth-child(2) .stats__column-icon { background-color: var(--color-primary);}
.stats__column:nth-child(3) .stats__column-icon { background-color: var(--color-green);}

.stats__column-icon-person {
    width: var(--icon-person-width);
    position: relative;
    left: calc(var(--icon-person-width)*0.5);
}

.stats__column-icon-views {
    width: var(--icon-views-width);
    position: relative;
    left: calc(var(--icon-views-width)*0.34);
}

.stats__column-icon-post {
    width: var(--icon-post-width);
    position: relative;
    left: calc(var(--icon-post-width)*0.5);
}

.stats__column-title {
    font-size: 1.25em;
    line-height: 1.2em;
    font-weight: 800;
    letter-spacing: 6px;
    margin-bottom: 0.95em;
}

.stats__column-text {
    color: var(--color-grey);
    font-size: 1em;
    text-align: center;
}
/* e: stats section*/