* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

:root {
    --primary-font: "Raleway";
    --secondary-font: "Open Sans";

    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-black-trans-shadow: #00000029;

    --color-red: #FB3B64;
    --color-red-100: #EB476E;
    --color-green: #55DFB4;

    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-grey-200: #707070;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-black-100: #13253B;

    --color-custom-checkbox-border: #95989A;

    
    --icon-bg-width: 63px;
    --icon-person-width: 44px;
    --icon-views-width: 63.43px;
    --icon-post-width: 52px;
}

body {
    font-family: var(--primary-font), sans-serif;
    color: var(--color-black);
}

a {
    text-decoration: none;
    display: inline-block;
}

/* header */
.header {
    box-shadow: 0px 3px 6px var(--color-black-trans-shadow);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: var(--color-primary);
    font-size: 2em;
    line-height: 37px;
    font-weight: 300;

}

.header ul {
    display: flex;
    gap: 95px;
}

.header nav a {
    color: var(--color-grey);
    font-size: 0.6875em;
    line-height: 0.9375em;
    font-weight: bold;
    letter-spacing: 3.28px;
    font-family: var(--secondary-font), sans-serif;
    text-transform: uppercase;
    padding: 28px 12px;
    border: 4px solid var(--color-white);
    /* border-width: 4px;    */
    /* border-style: solid; */
    /* border-color: var(--color-white); */



    cursor: pointer;
}

.header nav a:hover, .header nav a:active {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}
/* e: header */

/* hero section */
.hero {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.hero__title {
    font-size: 3.0625em;
    line-height: 1.163265306122449em;
    margin-bottom: 0.40816326530612246em
}

.hero__text {
    font-size: 1em;
    line-height: 1.375em;
    font-family: var(--secondary-font), sans-serif;
    margin-bottom: 2.375em
}

.hero img {
    width: 100%;
    font-size: 1em;
    line-height: 22px;
}
/* e: hero section */

/* stats section */
.stats {
    padding-top: 100px;
    padding-bottom: 121px;
}

.stats__title {
    font-size: 2.25em;
    line-height: 1.1666666666666667em;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 120px;
}

.stats__columns {
    display: flex;
    justify-content: center;
}

.stats__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats__column:nth-child(2) {
    margin-left: 12.8125em;
    margin-right: 14.6875em;
}

.stats__column-icon {
    width: var(--icon-bg-width);
    height: var(--icon-bg-width);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8125em;
}

.stats__column:nth-child(1) .stats__column-icon { background-color: var(--color-red);}
.stats__column:nth-child(2) .stats__column-icon { background-color: var(--color-primary);}
.stats__column:nth-child(3) .stats__column-icon { background-color: var(--color-green);}

.stats__column-icon-person {
    width: var(--icon-person-width);
    position: relative;
    left: calc(var(--icon-person-width)*0.5);
}

.stats__column-icon-views {
    width: var(--icon-views-width);
    position: relative;
    left: calc(var(--icon-views-width)*0.34);
}

.stats__column-icon-post {
    width: var(--icon-post-width);
    position: relative;
    left: calc(var(--icon-post-width)*0.5);
}

.stats__column-title {
    font-size: 1.25em;
    line-height: 1.2em;
    font-weight: 800;
    letter-spacing: 6px;
    margin-bottom: 0.95em;
}

.stats__column-text {
    color: var(--color-grey);
    font-size: 1em;
    text-align: center;
}
/* e: stats section*/

/* pricing section */
.pricing {
    padding-top: 100px;
    padding-bottom: 183px;
}

.pricing__title {
    font-size: 2.25em;
    line-height: 1.1666666666666667em;
    text-align: center;
    margin-bottom: 1.3888888888888888em;
}

.pricing__columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nested block card */
.card {
    width: 372px;
    border: 1px solid var(--color-black);
    border-radius: 18px;
    padding-top: 2.125em;
    text-align: center;
}

.card__title {
    font-size: 1.25em;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--color-black-100);
    margin-bottom: 0.7em;
}

.card__price {
    font-family: var(--secondary-font), open-sans;
    font-size: 2.875em;
    line-height: 1.391304347826087em;
    color: var(--color-black-100);
    font-weight: 300;
}

.card__subtitle {
    font-size: 0.75em;
    line-height: 1.1666666666666667em;
    font-weight: bold;
    color: var(--color-black-100);
}

.card .card__list {
    margin-top: 3.125em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 1.875em;
}
.card .card__list .card__list-item {
    font-size: 0.875em;
    line-height: 1.3571428571428572em;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card .card__list .card__list-item::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url("../assets/checkmark-icon-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.card--basic {
    border-color: var(--color-red-100);
}

.card--basic .card__price {
    color: var(--color-red-100);
}

.card--basic .card__list {
    margin-top: 4.3125em;
}

.card--basic .card__list .card__list-item:nth-child(4)::before,
.card--basic .card__list .card__list-item:nth-child(5)::before {
    background-image: url("../assets/close-icon.svg");
}


.card--pro {
    width: 405px;
    border-color: var(--color-primary);
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
}

.card--pro .card__price {
    color: var(--color-primary);
    line-height: 1.5217391304347827em;
}

.card--pro .card__list {
    margin-top: 3.8125em;
    gap: 26px;
}


.card--premium {
    border-color: var(--color-green);
}

.card--premium .card__price{
    color: var(--color-green);
}
/* e: nested block card */
/* e: pricing section */

/* contact section */
.contact {

}

.contact .container {
    width: 896px;
    display: flex;
    justify-content: center;
    gap: 114px;
}

.contact__left, .contact__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact__title {
    font-size: 3.0625em;
    line-height: 1.163265306122449em;
    margin-bottom: 0.4489795918367347em;
}

.contact__subtitle {
    font-family: var(--secondary-font), sans-serif;
    font-size: 1em;
    line-height: 1.375em;
    margin-bottom: 2.625em;
}

.contact__info {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 1em;
    line-height: 1.375em;
    font-weight: 600;
}

.contact__email, .contact__number {
    color: var(--color-grey);
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact__email::before, .contact__number::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.contact__email::before {
    background-image: url("../assets/mail-icon.svg");
}

.contact__number::before {
    background-image: url("../assets/phone-icon.svg");
}

.contact__form {

}

.contact__form label {
    font-family: var(--secondary-font), sans-serif;
    color: var(--color-primary);
    font-size: 0.6875em;
    line-height: 1.3636363636363635em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.28px;
}

.contact__form input {
    font-size: 1em;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-grey);
}

label.contact__form-checkbox-field {
    display: flex;
    gap: 20px; 

    margin-top: 1.875em;
    
    color: var(--color-grey-200);
    font-size: 0.75em;
    line-height: 1.4166666666666667em;
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: normal;
    cursor: pointer;
}

.contact__form input[type="checkbox"] {
    display: none;
}

.contact__form-custom-checkbox {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-custom-checkbox-border);
    border-radius: 4px;
    
    flex-shrink: 0;
    flex-basis: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__form-checkbox-field img {
    width: 12px;
    height: 11px;
    opacity: 0;
}

.contact__form-checkbox-field input:checked + div img {
    opacity: 1;
}

.contact__form button {
    align-self: flex-end;
}


/* e: contact section */

/* footer */
.footer {
    padding-top: 20px;
    padding-bottom: 17px;
    box-shadow: 0px -5px 40px var(--color-black-trans-shadow);
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    color: var(--color-primary);
    font-size: 1.625em;
    line-height: 1.1538461538461537em;
    font-weight: 300;
    margin-bottom: 0.23076923076923078em;
}

.footer__copyright {
    color: var(--color-grey);
    font-family: var(--secondary-font), sans-serif;
    font-size: 0.6875em;
    line-height: 1.3636363636363635em;
}

.footer__socials {
    display: flex;
    gap: 20px;
}
/* e: footer */